main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

#main-header {
  background-color: yellowgreen;
}

#shop-brand:hover {
  color: white;
  background-color: #4bbf73;
}

#username,
#cart,
#admin-menu,
#sign-in-menu,
#search-box-btn,
#shop-brand {
  color: black;
}

#username:hover,
#cart:hover,
#admin-menu:hover,
#sign-in-menu:hover,
#search-box-btn:hover {
  color: white;
}

.page-item {
  padding: 1px;
}

.page-item.active .page-link {
  background-color: #4bbf73;
  color: black;
  border-radius: 7px;
}

.page-item.active .page-link:hover {
  background-color: #4bbf73;
}

.page-link:hover {
  background-color: greenyellow;
  border-color: black;
  border-radius: 7px;
}
